{% extends 'base.html.twig' %}

{% block title %}Product form{% endblock %}

{% block header %}
    {{ include('site/partials/phone_email_line.html.twig') }}
{% endblock %}

{% block content %}
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row bg-white p-5 contact-form">
                <div class="col-md-10">
                    {% for image in images %}
                        <img src="{{ asset(image) }}" height="100px" alt="small-img">
                    {% else %}
                       <h2>No images for display.</h2>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
{% endblock %}